:root {
  --primary: #000000;
  --secondary: #ffffff;
  --orange: #e67817;
  --orangeless: rgba(230, 120, 23, 0.52);
  --shadow-photo: 0px 8px 8px rgba(0, 0, 0, 0.35);
  --shadow-button: 4px 0px 4px rgba(0, 0, 0, 0.25),
    -4px 0px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  --subtitle: linear-gradient(to top, var(--orange) 40%, transparent 0); }

* {
  margin: 0;
  padding: 0; }

/* Landscape phones and down */
/* Landscape phones to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Portrait tablet to landscape and desktop */
.context-slide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--orange);
  width: 100%;
  top: 0;
  left: 0;
  height: 15%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  @media (max-width: 767px) {
    .context-slide {
      height: 10%; } }
  .context-slide .title-service {
    color: var(--secondary);
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.06em;
    font-size: 48px; }
    @media (max-width: 767px) {
      .context-slide .title-service {
        font-size: 24px; } }

.reverse-title {
  font-size: 2.75rem;
  letter-spacing: 0.11em;
  color: var(--secondary);
  transform: rotate(-90deg);
  position: absolute;
  left: 0;
  margin-left: 2rem; }
  @media (min-width: 768px) and (max-width: 979px) {
    .reverse-title {
      margin-left: 0rem; } }
  @media (max-width: 767px) {
    .reverse-title {
      top: 0;
      margin-top: 20rem;
      margin-left: 0rem; } }
  @media (max-width: 480px) {
    .reverse-title {
      transform: rotate(0deg) translateX(-50%);
      font-size: 1.75rem;
      top: 0;
      left: 50%;
      margin-top: 4.5rem;
      margin-left: 0rem; } }

/* Landscape phones and down */
/* Landscape phones to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phones and down */
/* Landscape phones to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Portrait tablet to landscape and desktop */
:root {
  font-size: 62.5%; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  background: var(--secondary);
  font-family: "Montserrat", sans-serif; }
  @media (max-width: 480px) {
    body {
      overflow-x: hidden; } }

h2 {
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: -0.015em; }
  @media (max-width: 767px) {
    h2 {
      font-size: 5.5rem; } }
  @media (max-width: 480px) {
    h2 {
      font-size: 4rem; } }

h3 {
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: 0.11em; }
  @media (max-width: 480px) {
    h3 {
      font-size: 2rem; } }

li {
  list-style: none; }

button {
  border: none;
  outline: none; }

textarea {
  border: none;
  outline: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

input {
  border: none;
  outline: none; }

.services-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--primary); }
  .services-container h2 {
    color: var(--secondary);
    position: absolute;
    left: 72px;
    top: 0;
    margin: 5rem 0 0 3rem; }
    @media (max-width: 480px) {
      .services-container h2 {
        left: 30px; } }
  .services-container h3 {
    color: var(--secondary);
    color: var(--orange);
    margin-bottom: 30px; }
  .services-container .metallerie-serrurerie {
    margin: 150px 0 30px 0; }
    @media (max-width: 480px) {
      .services-container .metallerie-serrurerie {
        margin: 100px 0 30px 0; } }
  .services-container .slider-services {
    width: 669px;
    height: 690px;
    position: relative;
    overflow: hidden; }
    @media (max-width: 767px) {
      .services-container .slider-services {
        width: 413px;
        height: 440px; } }
    @media (max-width: 480px) {
      .services-container .slider-services {
        width: 100vw;
        height: 60vh; } }
    .services-container .slider-services .slide {
      position: absolute;
      display: flex;
      will-change: left; }
      .services-container .slider-services .slide .image {
        position: relative;
        width: 669px;
        height: 100%; }
        @media (max-width: 767px) {
          .services-container .slider-services .slide .image {
            width: 413px;
            height: 440px; } }
        @media (max-width: 480px) {
          .services-container .slider-services .slide .image {
            width: 100vw;
            height: 60vh; } }
        .services-container .slider-services .slide .image .discover {
          opacity: 0;
          position: absolute;
          color: var(--secondary);
          top: 50%;
          left: 50%;
          font-weight: 300;
          transform: translate(-50%, -50%);
          font-size: 54px;
          transition: all 0.5s ease-out;
          letter-spacing: 0.5rem;
          z-index: 9999;
          pointer-events: none; }
          @media (max-width: 767px) {
            .services-container .slider-services .slide .image .discover {
              font-size: 32px;
              top: 40%; } }
          @media (max-width: 480px) {
            .services-container .slider-services .slide .image .discover {
              font-size: 24px;
              top: 40%; } }
        .services-container .slider-services .slide .image img {
          max-width: 100%;
          max-height: auto; }
        .services-container .slider-services .slide .image .is-linked:hover {
          filter: blur(3px);
          opacity: 0.75;
          transform: scale(0.99);
          box-shadow: none;
          transition: all 0.5s ease-out; }
    .services-container .slider-services .slider-btn {
      margin: 0 auto;
      width: 100%;
      height: 20px;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15%; }
      @media (max-width: 480px) {
        .services-container .slider-services .slider-btn {
          bottom: 5rem; } }
      .services-container .slider-services .slider-btn li {
        background: var(--orangeless);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin: 0px 5px 0px 5px; }
      .services-container .slider-services .slider-btn .current-dot {
        background: var(--orange); }
    .services-container .slider-services .btn-service-right {
      position: absolute;
      right: 0;
      top: 50%; }
      @media (max-width: 480px) {
        .services-container .slider-services .btn-service-right {
          top: 35%; } }
      @media (max-width: 767px) {
        .services-container .slider-services .btn-service-right svg {
          width: 65px;
          height: 65px; } }
      @media (max-width: 480px) {
        .services-container .slider-services .btn-service-right svg {
          width: 65px;
          height: 65px; } }
    .services-container .slider-services .btn-service-left {
      position: absolute;
      left: 0;
      top: 50%; }
      @media (max-width: 480px) {
        .services-container .slider-services .btn-service-left {
          top: 35%; } }
      @media (max-width: 767px) {
        .services-container .slider-services .btn-service-left svg {
          width: 65px;
          height: 65px; } }
      @media (max-width: 480px) {
        .services-container .slider-services .btn-service-left svg {
          width: 65px;
          height: 65px; } }

.landing-page {
  position: relative;
  min-height: 950px; }
  @media (min-width: 1200px) {
    .landing-page {
      padding-left: 10%; } }
  @media (min-width: 768px) and (max-width: 979px) {
    .landing-page {
      min-height: 700px; } }
  @media (max-width: 767px) {
    .landing-page {
      min-height: 630px; } }
  @media (max-width: 480px) {
    .landing-page {
      min-height: 490px; } }
  .landing-page .presentation {
    position: absolute;
    margin-top: 10rem;
    max-width: 90vw;
    max-height: 80vh;
    z-index: 0; }
    @media (max-width: 480px) {
      .landing-page .presentation {
        margin-top: 4rem; } }
    .landing-page .presentation .presentation-container {
      overflow: hidden;
      width: 100%;
      height: 100%;
      box-shadow: var(--shadow-photo);
      display: flex; }
      @media (max-width: 480px) {
        .landing-page .presentation .presentation-container {
          width: 100vw; } }
      .landing-page .presentation .presentation-container img {
        width: 100%;
        height: 100%; }
      .landing-page .presentation .presentation-container .top-slogan {
        position: absolute;
        top: 20%;
        left: 0;
        margin-left: 1%; }
        .landing-page .presentation .presentation-container .top-slogan p {
          font-weight: 500;
          font-family: Montserrat;
          font-size: 7rem;
          letter-spacing: -0.015em;
          color: var(--secondary); }
          @media (max-width: 767px) {
            .landing-page .presentation .presentation-container .top-slogan p {
              font-size: 4.5rem; } }
          @media (max-width: 480px) {
            .landing-page .presentation .presentation-container .top-slogan p {
              font-size: 4rem; } }
          .landing-page .presentation .presentation-container .top-slogan p span {
            background: var(--subtitle); }
      .landing-page .presentation .presentation-container button {
        background: var(--orange);
        box-shadow: var(--shadow-button);
        width: 307.422px;
        height: 84.4688px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 3rem;
        margin-bottom: 3rem;
        color: var(--secondary);
        font-size: 2rem; }
        @media (max-width: 767px) {
          .landing-page .presentation .presentation-container button {
            bottom: -12rem;
            width: 35%;
            height: 15%;
            font-size: 1.75rem; } }
        @media (max-width: 480px) {
          .landing-page .presentation .presentation-container button {
            bottom: -15rem;
            margin-right: 0.5rem;
            width: 20rem;
            height: 5rem;
            font-size: 2rem; } }
    .landing-page .presentation .display-orange {
      position: absolute;
      width: 603px;
      height: 409px;
      background: var(--orange);
      top: -5rem;
      right: -5rem;
      z-index: -1; }
      @media (max-width: 480px) {
        .landing-page .presentation .display-orange {
          display: none; } }
      @media (max-width: 767px) {
        .landing-page .presentation .display-orange {
          display: none; } }

.gallery-container {
  min-height: 800px;
  background: var(--secondary);
  position: relative; }
  @media (max-width: 767px) {
    .gallery-container {
      min-height: 700px; } }
  @media (max-width: 480px) {
    .gallery-container {
      min-height: 500px; } }
  .gallery-container .gallery-orange-block {
    position: absolute;
    width: 410px;
    height: 150px;
    left: 0px;
    top: 0px;
    background: var(--orange);
    overflow: visible; }
    @media (max-width: 767px) {
      .gallery-container .gallery-orange-block {
        width: 300px;
        top: 2rem; } }
    @media (max-width: 480px) {
      .gallery-container .gallery-orange-block {
        width: 100vw; } }
    .gallery-container .gallery-orange-block h2 {
      margin-top: 2rem;
      width: 720px;
      position: absolute;
      text-overflow: ellipsis;
      left: 72px;
      top: 0px;
      color: var(--primary); }
      @media (max-width: 767px) {
        .gallery-container .gallery-orange-block h2 {
          width: 330px; } }
      @media (max-width: 480px) {
        .gallery-container .gallery-orange-block h2 {
          min-height: 330px;
          left: 0;
          margin: 2rem 0 0 3rem; } }
  .gallery-container .gallery {
    position: absolute;
    height: 424px;
    top: 20%;
    right: 0; }
    @media (max-width: 767px) {
      .gallery-container .gallery {
        top: 30%; } }
    @media (max-width: 480px) {
      .gallery-container .gallery {
        top: 45%; } }
    .gallery-container .gallery .gallery-images {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      transition: cubic-bezier(0.39, 1.13, 0.99, 0.99) 0.5s all; }
      .gallery-container .gallery .gallery-images img {
        margin: 1rem; }
        @media (max-width: 767px) {
          .gallery-container .gallery .gallery-images img {
            width: 300px;
            height: 300px; } }
        @media (max-width: 480px) {
          .gallery-container .gallery .gallery-images img {
            margin: 0.5rem;
            width: 150px;
            height: 150px; } }
    .gallery-container .gallery .gallery-controller {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translateY(100%);
      margin: 0 1rem 0 0; }
      @media (max-width: 767px) {
        .gallery-container .gallery .gallery-controller {
          bottom: 25%; } }
      @media (max-width: 480px) {
        .gallery-container .gallery .gallery-controller {
          bottom: 60%; } }
      .gallery-container .gallery .gallery-controller .controller {
        background: var(--primary); }

.container-company {
  min-height: 700px;
  background: var(--primary);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media (max-width: 480px) {
    .container-company {
      min-height: 550px; } }
  .container-company .text-presentation {
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: var(--secondary);
    margin: 2rem 0 0 8rem;
    border-left: solid var(--orange); }
    @media (min-width: 768px) and (max-width: 979px) {
      .container-company .text-presentation {
        margin: 0 0 2rem 2rem; } }
    @media (max-width: 480px) {
      .container-company .text-presentation {
        font-size: 1.5rem;
        margin: 0 0 2rem 2.5rem; } }
    .container-company .text-presentation span {
      background: var(--subtitle); }
  .container-company img {
    position: absolute;
    width: 280px;
    height: 113px;
    right: 5rem;
    top: 65px; }
    @media (min-width: 768px) and (max-width: 979px) {
      .container-company img {
        right: 2rem;
        width: 150px;
        height: 70px; } }
    @media (max-width: 767px) {
      .container-company img {
        right: 2rem;
        width: 150px;
        height: 70px; } }
    @media (max-width: 480px) {
      .container-company img {
        display: none; } }
  .container-company .company-title {
    position: absolute;
    margin-top: 2rem;
    width: 435px;
    height: 7rem;
    top: 0;
    left: 0; }
    @media (max-width: 480px) {
      .container-company .company-title {
        width: 250px;
        margin-top: 7rem; } }
    .container-company .company-title .line-orange {
      width: 100%;
      background: var(--orange);
      height: 1rem;
      position: absolute;
      bottom: 0.5rem;
      z-index: 0; }
      @media (max-width: 480px) {
        .container-company .company-title .line-orange {
          bottom: 2rem; } }
    .container-company .company-title h2 {
      color: var(--secondary);
      top: 72px;
      position: absolute;
      z-index: 1; }
      @media (max-width: 480px) {
        .container-company .company-title h2 {
          top: 0;
          margin-left: 3rem; } }

.form-contact-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30rem;
  background: var(--primary); }
  @media (max-width: 767px) {
    .form-contact-container {
      padding-bottom: 20rem; } }
  .form-contact-container .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%; }
    @media (min-width: 768px) and (max-width: 979px) {
      .form-contact-container .contact {
        margin-top: 13%; } }
    @media (max-width: 767px) {
      .form-contact-container .contact {
        margin-top: 13%; } }
    .form-contact-container .contact .message-error {
      color: red;
      font-size: 24px; }
      @media (max-width: 767px) {
        .form-contact-container .contact .message-error {
          font-size: 16px; } }
    .form-contact-container .contact .message-success {
      color: green;
      font-size: 24px;
      letter-spacing: 0.11em;
      margin: 1rem 0 1rem 0; }
      @media (max-width: 767px) {
        .form-contact-container .contact .message-success {
          font-size: 16px; } }
    .form-contact-container .contact .contact-p {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 1rem; }
      @media (max-width: 767px) {
        .form-contact-container .contact .contact-p {
          margin-top: 5rem; } }
      .form-contact-container .contact .contact-p p {
        color: var(--secondary);
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        letter-spacing: 0.11em; }
        @media (max-width: 767px) {
          .form-contact-container .contact .contact-p p {
            font-size: 24px; } }
        @media (max-width: 480px) {
          .form-contact-container .contact .contact-p p {
            margin-left: 10%; } }
    .form-contact-container .contact .contact-form {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      position: relative;
      width: 884px;
      height: 947px;
      background: var(--orange); }
      @media (min-width: 768px) and (max-width: 979px) {
        .form-contact-container .contact .contact-form {
          width: 650px;
          height: 750px; } }
      @media (max-width: 767px) {
        .form-contact-container .contact .contact-form {
          width: 470px;
          height: 610px; } }
      @media (max-width: 480px) {
        .form-contact-container .contact .contact-form {
          align-items: center;
          width: 100vw;
          height: 100vh; } }
      .form-contact-container .contact .contact-form .g-recaptcha {
        padding-left: 10rem; }
        @media (min-width: 768px) and (max-width: 979px) {
          .form-contact-container .contact .contact-form .g-recaptcha {
            padding-left: 8rem; } }
        @media (max-width: 767px) {
          .form-contact-container .contact .contact-form .g-recaptcha {
            transform: scale(0.8);
            transform-origin: 0 0; } }
        @media (max-width: 480px) {
          .form-contact-container .contact .contact-form .g-recaptcha {
            padding-left: 2.5rem; } }
      .form-contact-container .contact .contact-form fieldset {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-left: 10rem; }
        @media (min-width: 768px) and (max-width: 979px) {
          .form-contact-container .contact .contact-form fieldset {
            margin-left: 8rem; } }
        @media (max-width: 767px) {
          .form-contact-container .contact .contact-form fieldset {
            margin-left: 8rem; } }
        @media (max-width: 480px) {
          .form-contact-container .contact .contact-form fieldset {
            margin-left: 0; } }
        .form-contact-container .contact .contact-form fieldset label {
          font-size: 16px;
          margin-bottom: 1rem; }
          @media (max-width: 767px) {
            .form-contact-container .contact .contact-form fieldset label {
              margin-bottom: 0.25rem; } }
        .form-contact-container .contact .contact-form fieldset input {
          width: 482px;
          height: 67px; }
          @media (min-width: 768px) and (max-width: 979px) {
            .form-contact-container .contact .contact-form fieldset input {
              height: 40px; } }
          @media (max-width: 767px) {
            .form-contact-container .contact .contact-form fieldset input {
              height: 35px;
              width: 300px; } }
          @media (max-width: 480px) {
            .form-contact-container .contact .contact-form fieldset input {
              height: 5rem;
              width: 80vw; } }
        .form-contact-container .contact .contact-form fieldset textarea {
          width: 663px;
          height: 335px; }
          @media (min-width: 768px) and (max-width: 979px) {
            .form-contact-container .contact .contact-form fieldset textarea {
              width: 482px;
              height: 280px; } }
          @media (max-width: 767px) {
            .form-contact-container .contact .contact-form fieldset textarea {
              width: 300px;
              height: 150px; } }
          @media (max-width: 480px) {
            .form-contact-container .contact .contact-form fieldset textarea {
              width: 80vw;
              height: 175px; } }
      .form-contact-container .contact .contact-form button {
        position: absolute;
        bottom: -150px;
        width: 260px;
        height: 74px;
        margin-left: 10rem;
        background: var(--orangeless);
        color: var(--secondary);
        font-style: normal;
        font-weight: normal;
        font-size: 24px; }
        @media (min-width: 768px) and (max-width: 979px) {
          .form-contact-container .contact .contact-form button {
            margin-left: 8rem; } }
        @media (max-width: 767px) {
          .form-contact-container .contact .contact-form button {
            width: 200px;
            height: 50px;
            font-size: 16px;
            bottom: -90px; } }
        @media (max-width: 480px) {
          .form-contact-container .contact .contact-form button {
            width: 200px;
            height: 50px;
            font-size: 16px;
            margin-left: 4rem;
            left: 0;
            bottom: -90px; } }
        .form-contact-container .contact .contact-form button:hover {
          background: var(--orange);
          transition: ease-in 0.25s; }
  .form-contact-container h2 {
    color: var(--secondary);
    position: absolute;
    left: 72px;
    top: 0;
    margin: 5rem 0 0 3rem; }
    @media (min-width: 768px) and (max-width: 979px) {
      .form-contact-container h2 {
        margin: 2rem 0 0 3rem; } }
    @media (max-width: 767px) {
      .form-contact-container h2 {
        margin: 2rem 0 0 3rem; } }
    @media (max-width: 480px) {
      .form-contact-container h2 {
        left: 0; } }

.logo-top {
  position: absolute;
  max-width: 200px;
  max-height: 167px;
  top: 0;
  left: 0;
  padding-left: 1rem;
  padding-top: 1rem; }
  .logo-top img {
    width: 100%;
    height: 100%; }

.header-nav {
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: flex-end; }
  .header-nav .container-nav-responsive {
    position: absolute;
    min-width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
    padding: 0; }
  .header-nav .container-nav {
    transition: ease-in 0.25s;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row; }
    .header-nav .container-nav li {
      position: relative;
      margin: 3rem 5rem 0 0;
      transition: ease-in 0.5s all; }
      @media (min-width: 768px) and (max-width: 979px) {
        .header-nav .container-nav li {
          margin: 3rem 3rem 0 0; } }
      @media (max-width: 767px) {
        .header-nav .container-nav li {
          margin: 7.5rem 3rem 0 0; } }
      .header-nav .container-nav li a {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.075em;
        color: var(--primary);
        animation-duration: 1s; }
        @media (min-width: 768px) and (max-width: 979px) {
          .header-nav .container-nav li a {
            font-size: 14px; } }
        @media (max-width: 767px) {
          .header-nav .container-nav li a {
            font-size: 14px; } }
      .header-nav .container-nav li .menu-sub {
        position: absolute;
        bottom: 0.25px;
        width: 5rem;
        height: 0.75rem;
        background: var(--orange);
        z-index: -1;
        transition: ease-in 0.25s; }
      .header-nav .container-nav li .menu-sub-left-line {
        top: 5rem;
        right: 3rem;
        z-index: 0;
        transform: rotateZ(45deg);
        transition: ease-in 0.25s; }
      .header-nav .container-nav li .menu-sub-right-line {
        top: 5rem;
        right: 3rem;
        z-index: 0;
        transform: rotateZ(-45deg);
        transition: ease-in 0.25s; }
  .header-nav .is-scroll {
    flex-direction: column;
    padding: 0 4rem 0 0;
    transition-duration: 1s; }

@keyframes slideLeft {
  from {
    opacity: 1; }
  to {
    transform: translateX(820px);
    opacity: 0;
    display: none; } }

footer {
  max-height: 384px;
  background: #919191;
  display: flex;
  flex-direction: row; }
  @media (max-width: 480px) {
    footer {
      flex-direction: column-reverse; } }
  footer p {
    font-size: 1.5rem;
    color: var(--secondary); }
  footer .footer-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (max-width: 480px) {
      footer .footer-left {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    footer .footer-left p {
      color: #dfd7d7;
      padding-top: 4rem;
      padding-bottom: 8rem; }
      @media (max-width: 480px) {
        footer .footer-left p {
          padding: 0; } }
    footer .footer-left .footer-img {
      max-width: 181px;
      max-height: 75px;
      padding-top: 4rem; }
      @media (max-width: 480px) {
        footer .footer-left .footer-img {
          padding: 0; } }
      footer .footer-left .footer-img img {
        width: 100%; }
  footer .footer-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  footer .footer-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (max-width: 480px) {
      footer .footer-right {
        margin-top: 3rem; } }
    footer .footer-right p {
      margin: 1rem; }
      @media (max-width: 480px) {
        footer .footer-right p {
          margin: 0; } }

.container-material {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 10rem 0 10rem 0; }
  .container-material .reverse-title {
    color: var(--primary); }
  .container-material h4 {
    position: relative;
    font-weight: bold;
    font-size: 96px;
    letter-spacing: -0.015em;
    z-index: 1;
    margin: 1.5rem; }
    @media (max-width: 480px) {
      .container-material h4 {
        font-size: 42px; } }
    .container-material h4 .sub-title-material {
      position: absolute;
      background: var(--orange);
      bottom: 1rem;
      right: 0;
      width: 15rem;
      height: 3rem;
      z-index: -1; }
      @media (max-width: 480px) {
        .container-material h4 .sub-title-material {
          width: 7rem;
          height: 1.5rem; } }

.header-display-orange {
  background: var(--orange);
  position: relative;
  height: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  @media (max-width: 480px) {
    .header-display-orange {
      height: 40vh; } }
  .header-display-orange .back-home {
    position: absolute;
    top: 0;
    left: 0;
    margin: 4rem; }
  .header-display-orange h2 {
    color: var(--secondary);
    font-size: 72px;
    font-weight: 300;
    letter-spacing: 0.11em;
    margin-right: 5rem; }
    @media (max-width: 480px) {
      .header-display-orange h2 {
        font-size: 5rem;
        margin-left: 3rem; } }

.container-photos-service {
  display: grid;
  max-width: 80vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  margin: 0 auto;
  padding-bottom: 5rem;
  position: relative; }
  @media (max-width: 480px) {
    .container-photos-service {
      grid-template-columns: 1fr; } }
  .container-photos-service .fake-mid-orange {
    width: 100%;
    background: var(--orange);
    height: 3rem;
    position: absolute;
    top: 0;
    z-index: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .container-photos-service .fake-left-orange {
    width: 80vw;
    background: var(--orange);
    height: 3rem;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .container-photos-service .fake-right-orange {
    width: 80vw;
    background: var(--orange);
    height: 3rem;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .container-photos-service .item-services {
    z-index: 1; }
    .container-photos-service .item-services img {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      width: 100%; }
