:root {
  font-size: 62.5%;
}

body {
  background: var(--primary);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h2 {
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: -0.015em;
}

h3 {
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: 0.11em;
}

li {
  list-style: none;
}

button {
  border: none;
}
