.logo-top {
  position: absolute;
  max-width: 200px;
  max-height: 167px;
  top: 0;
  left: 0;
  padding-left: 5rem;
  padding-top: 1rem;
  img {
    width: 100%;
    height: 100%;
  }
}
.header-nav {
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  .container-nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    li {
      position: relative;
      margin: 3rem 5rem 0 0;
      transition: ease-in 0.5s all;
      a {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.075em;
        color: var(--primary);
        animation-duration: 1s;
      }
      .menu-sub {
        position: absolute;
        bottom: 0.25px;
        width: 5rem;
        height: 0.75rem;
        background: var(--orange);
        z-index: -1;
        transition: ease-in 0.25s;
      }
    }
  }
  .is-scroll {
    flex-direction: column;
    padding: 25px 25px 0 0;
    transition-duration: 1s;
  }
}

@keyframes slideLeft {
  from {
    opacity: 1;
  }
  to {
    transform: translateX(820px);
    opacity: 0;
    display: none;
  }
}
