.landing-page {
  position: relative;
  @include xl {
    padding-left: 10%;
  }
  .logo-top {
    position: absolute;
    max-width: 200px;
    max-height: 167px;
    top: 0;
    left: 0;
    margin: 2rem 0 0 1rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .presentation {
    position: absolute;
    margin-top: 15rem;
    max-width: 90vw;
    max-height: 80vh;
    z-index: 0;
    .presentation-container {
      overflow: hidden;
      width: 100%;
      height: 100%;
      box-shadow: var(--shadow-button);
      display: flex;
      img {
        width: 100%;
        height: 100%;
      }
      .top-slogan {
        position: absolute;
        top: 20%;
        left: 0;
        margin-left: 1%;
        p {
          font-weight: 500;
          font-size: 4rem;
          color: var(--secondary);
        }
      }
      button {
        background: var(--orange);
        box-shadow: var(--shadow-button);
        width: 35%;
        height: 15%;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 3rem;
        margin-bottom: 3rem;
        color: var(--secondary);
        font-size: 2rem;
        @include xs {
          bottom: -15rem;
          width: 125px;
          height: 50px;
        }
      }
    }
    .display-orange {
      position: absolute;
      width: 603px;
      height: 409px;
      background: var(--orange);
      top: -5rem;
      right: -5rem;
      z-index: -1;
      @include xs {
        display: none;
      }
      @include sm {
        display: none;
      }
    }
  }
}
