.provider-container {
  background: var(--primary);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 524px;
  .provider-img {
    width: 160px;
    height: 155px;
    margin: 5rem;
    img {
      width: 100%;
    }
  }
}
