.container-company {
  min-height: 700px;
  background: var(--primary);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include xs {
    min-height: 550px;
  }
  .text-presentation {
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: var(--secondary);
    margin: 2rem 0 0 8rem;
    border-left: solid var(--orange);
    @include md {
      margin: 0 0 2rem 2rem;
    }
    @include xs {
      font-size: 1.5rem;
      margin: 0 0 2rem 2.5rem;
    }
    span {
      background: var(--subtitle);
    }
  }
  img {
    position: absolute;
    width: 280px;
    height: 113px;
    right: 5rem;
    top: 65px;
    @include md {
      right: 2rem;
      width: 150px;
      height: 70px;
    }
    @include sm {
      right: 2rem;
      width: 150px;
      height: 70px;
    }
    @include xs {
      top: 2rem;
      right: 2rem;
      width: 80px;
      height: 40px;
    }
  }
  .company-title {
    position: absolute;
    margin-top: 2rem;
    width: 435px;
    height: 7rem;
    top: 0;
    left: 0;
    @include xs {
      width: 250px;
      margin-top: 7rem;
    }
    .line-orange {
      width: 100%;
      background: var(--orange);
      height: 1rem;
      position: absolute;
      bottom: 0.5rem;
      z-index: 0;
      @include xs {
        bottom: 2rem;
      }
    }
    h2 {
      color: var(--secondary);
      top: 72px;
      position: absolute;
      z-index: 1;
      @include xs {
        top: 0;
        margin-left: 3rem;
      }
    }
  }
}
