.container-company {
  min-height: 700px;
  background: var(--primary);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .text-presentation {
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: var(--secondary);
    margin: 2rem 0 0 8rem;
    border-left: solid var(--orange);
    span {
      background: var(--subtitle);
    }
  }
  img {
    position: absolute;
    width: 280px;
    height: 113px;
    left: 992px;
    top: 65px;
  }
  .company-title {
    position: absolute;
    margin-top: 2rem;
    width: 435px;
    height: 7rem;
    top: 0;
    left: 0;
    .line-orange {
      width: 100%;
      background: var(--orange);
      height: 1rem;
      position: absolute;
      bottom: 0.5rem;
      z-index: 0;
    }
    h2 {
      color: var(--secondary);
      margin-left: 72px;
      position: absolute;
      z-index: 1;
    }
  }
}
