.gallery-container {
  height: 800px;
  background: var(--secondary);
  position: relative;
  .gallery-orange-block {
    position: absolute;
    width: 410px;
    height: 150px;
    left: 0px;
    top: 0px;
    background: var(--orange);
    overflow: visible;
    h2 {
      margin-top: 2rem;
      width: 700px;
      position: absolute;
      text-overflow: ellipsis;
      left: 72px;
      top: 0px;
      color: var(--primary);
    }
  }
  .gallery {
    position: absolute;
    height: 424px;
    top: 20%;
    right: 0;
    .gallery-images {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      transition: cubic-bezier(0.39, 1.13, 0.99, 0.99) 0.5s all;
      img {
        margin: 1rem;
      }
    }
    .gallery-controller {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translateY(100%);
      margin: 0 1rem 0 0;
      .controller {
        background: var(--primary);
      }
    }
  }
}
