.logo-top {
  position: absolute;
  max-width: 200px;
  max-height: 167px;
  top: 0;
  left: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  img {
    width: 100%;
    height: 100%;
  }
}
.header-nav {
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  .container-nav-responsive {
    position: absolute;
    min-width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
    padding: 0;
  }
  .container-nav {
    transition: ease-in 0.25s;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    li {
      position: relative;
      margin: 3rem 5rem 0 0;
      transition: ease-in 0.5s all;
      @include md {
        margin: 3rem 3rem 0 0;
      }
      @include sm {
        margin: 7.5rem 3rem 0 0;
      }
      a {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.075em;
        color: var(--primary);
        animation-duration: 1s;
        @include md {
          font-size: 14px;
        }
        @include sm {
          font-size: 14px;
        }
      }
      .menu-sub {
        position: absolute;
        bottom: 0.25px;
        width: 5rem;
        height: 0.75rem;
        background: var(--orange);
        z-index: -1;
        transition: ease-in 0.25s;
      }
      .menu-sub-left-line {
        top: 5rem;
        right: 3rem;
        z-index: 0;
        transform: rotateZ(45deg);
        transition: ease-in 0.25s;
      }
      .menu-sub-right-line {
        top: 5rem;
        right: 3rem;
        z-index: 0;
        transform: rotateZ(-45deg);
        transition: ease-in 0.25s;
      }
    }
  }
  .is-scroll {
    flex-direction: column;
    padding: 0 4rem 0 0;
    transition-duration: 1s;
  }
}

@keyframes slideLeft {
  from {
    opacity: 1;
  }
  to {
    transform: translateX(820px);
    opacity: 0;
    display: none;
  }
}
