.landing-page {
  position: relative;
  min-height: 950px;
  @include xl {
    padding-left: 10%;
  }
  @include md {
    min-height: 700px;
  }
  @include sm {
    min-height: 630px;
  }
  @include xs {
    min-height: 490px;
  }
  .presentation {
    position: absolute;
    margin-top: 10rem;
    max-width: 90vw;
    max-height: 80vh;
    z-index: 0;
    .presentation-container {
      overflow: hidden;
      width: 100%;
      height: 100%;
      box-shadow: var(--shadow-button);
      display: flex;
      img {
        width: 100%;
        height: 100%;
      }
      .top-slogan {
        position: absolute;
        top: 20%;
        left: 0;
        margin-left: 1%;
        p {
          font-weight: 500;
          font-family: Montserrat;
          font-size: 7rem;
          letter-spacing: -0.015em;
          color: var(--secondary);
          @include sm {
            font-size: 4.5rem;
          }
          @include xs {
            font-size: 3rem;
          }
          span {
            background: var(--subtitle);
          }
        }
      }
      button {
        background: var(--orange);
        box-shadow: var(--shadow-button);
        width: 307.422px;
        height: 84.4688px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 3rem;
        margin-bottom: 3rem;
        color: var(--secondary);
        font-size: 2rem;
        @include sm {
          bottom: -12rem;
          width: 35%;
          height: 15%;
          font-size: 1.75rem;
        }
        @include xs {
          bottom: -10rem;
          width: 125px;
          height: 50px;
          font-size: 1.25rem;
        }
      }
    }
    .display-orange {
      position: absolute;
      width: 603px;
      height: 409px;
      background: var(--orange);
      top: -5rem;
      right: -5rem;
      z-index: -1;

      @include xs {
        display: none;
      }
      @include sm {
        display: none;
      }
    }
  }
}

// @keyframes motionDisplayBottom {
//   from {
//   }
//   to {
//     top: 180px;
//   }
// }
// @keyframes motionDisplayTop {
//   from {
//   }
//   to {
//     top: -5rem;
//   }
// }
