.container-material {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 10rem 0 10rem 0;
  .reverse-title {
    color: var(--primary);
  }
  h4 {
    position: relative;
    font-weight: bold;
    font-size: 96px;
    letter-spacing: -0.015em;
    z-index: 1;
    margin: 1.5rem;
    @include xs {
      font-size: 42px;
    }
    .sub-title-material {
      position: absolute;
      background: var(--orange);
      bottom: 1rem;
      right: 0;
      width: 15rem;
      height: 3rem;
      z-index: -1;
      @include xs {
        width: 7rem;
        height: 1.5rem;
      }
    }
  }
}
