.services-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--primary);
  h2 {
    color: var(--secondary);
    position: absolute;
    left: 72px;
    top: 0;
    margin: 5rem 0 0 3rem;
    @include xs {
      left: 30px;
    }
  }
  h3 {
    color: var(--secondary);
    color: var(--orange);
    margin-bottom: 30px;
  }
  .metallerie-serrurerie {
    margin: 150px 0 30px 0;
    @include xs {
      margin: 100px 0 30px 0;
    }
  }
  .slider-services {
    width: 669px;
    height: 690px;
    position: relative;
    overflow: hidden;
    @include sm {
      width: 413px;
      height: 440px;
    }
    @include xs {
      width: 100vw;
      height: 60vh;
    }
    .slide {
      position: absolute;
      display: flex;
      will-change: left;
      .image {
        position: relative;
        width: 669px;
        height: 100%;
        @include sm {
          width: 413px;
          height: 440px;
        }
        @include xs {
          width: 100vw;
          height: 60vh;
        }
        .discover {
          opacity: 0;
          position: absolute;
          color: var(--secondary);
          top: 50%;
          left: 50%;
          font-weight: 300;
          transform: translate(-50%, -50%);
          font-size: 54px;
          transition: all 0.5s ease-out;
          letter-spacing: 0.5rem;
          z-index: 9999;
          pointer-events: none;
          @include sm {
            font-size: 32px;
            top: 40%;
          }
          @include xs {
            font-size: 24px;
            top: 40%;
          }
        }
        img {
          max-width: 100%;
          max-height: auto;
        }
        .is-linked:hover {
          filter: blur(3px);
          opacity: 0.75;
          transform: scale(0.99);
          box-shadow: none;
          transition: all 0.5s ease-out;
        }
      }
    }
    .slider-btn {
      margin: 0 auto;
      width: 100%;
      height: 20px;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15%;
      @include xs {
        bottom: 5rem;
      }
      li {
        background: var(--orangeless);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin: 0px 5px 0px 5px;
      }
      .current-dot {
        background: var(--orange);
      }
    }
    .btn-service-right {
      position: absolute;
      right: 0;
      top: 50%;
      @include xs {
        top: 35%;
      }
      svg {
        @include sm {
          width: 65px;
          height: 65px;
        }
        @include xs {
          width: 65px;
          height: 65px;
        }
      }
    }
    .btn-service-left {
      position: absolute;
      left: 0;
      top: 50%;
      @include xs {
        top: 35%;
      }
      svg {
        @include sm {
          width: 65px;
          height: 65px;
        }
        @include xs {
          width: 65px;
          height: 65px;
        }
      }
    }
  }
}
